<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275322897890-le722ett1jgd8qv6eravc870dibpi2r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275322897890-le722ett1jgd8qv6eravc870dibpi2r1</string>
	<key>API_KEY</key>
	<string>AIzaSyBLWpdc4XeMSW3b4W4MAFY--9OVsFrFLuU</string>
	<key>GCM_SENDER_ID</key>
	<string>275322897890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zekigokler.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-ace82</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-ace82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275322897890:ios:8cfbe9d3aac0fc4f5465bb</string>
</dict>
</plist>